.inputfile {
	opacity: 0;
	position: absolute;
	clip: rect(0 0 0 0);
}
.wrapper{
	width: 100%;

	border-top: 1px solid var(--font-color);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapper form {
	justify-content: end;

}
.label_button {
	padding: 0.4rem 1rem;
	margin: 0.5rem;
	background-color: var(--bgc-color);
	border: 0;
	cursor: pointer;
}
.label_button{
	min-width: 3.2rem;
	font-weight: 700;
	font-size: 1rem;
	color: var(--font-color);
	background-color: var(--btn-color);

}
.label_button:hover {
	background-color: var(--btn-highlight-color);
	color: var(--font-color);
}

.show{
	display: block;
}

.preview_div{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 30vw;
	/* min-height: 30vh; */
	max-width: 80vw;
	/* max-height: 45wh; */

	/* background-color: var(--font-color-gray); */
}
.preview_div img {
	margin: 0 5px;
	width: 200px;
}
.preview_div canvas {
	margin: 0 5px;
}

