.wrapper img {
  border: 4px solid var(--bgc-color);
  max-height: 200px ;

  width: 100%;
  object-fit:cover;
}
.active  img{
  border: 4px solid var(--btn-color);
}
.label {
  cursor: pointer;
}
.wrapper {
  padding: 5px;
}
