@import "./theme/themes.css";

:root {
	scrollbar-gutter: stable;
}
* {
	padding: 0;
	margin: 0;
}
body {
	/* font-family: Inconsolata, monospace; */
	background-color: var(--bgc-color);
}
.primary {
	background-color: var(--bgc-color);
	color: var(--font-color);
	min-height: 100vh;
	min-width: 100vw;
}

button {
	padding: 0.7rem 1.2rem;
	margin: 0.5rem;
	background-color: var(--btn-color);
	font-weight: 700;
	font-size: 1rem;
	color: var(--font-color);
	border: 0;
}
button:hover {
	background-color: var(--btn-highlight-color);
	color: var(--font-color);
}

img{
	max-width: 30vw;

}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* min-height: 100vh; */
  min-width: 100vw;
}
.md {
  width: 40% !important;
  height: 100% !important;
}
.md-dark {
	background-color: var(--bgc-color) !important; 
}
